body {
  background: #005543;
}
.container {
  max-width: 400px;
}
input[type=text],/*for input text when out of focus and in focus*/
input[type=text]:focus {
  color: #fff;
  border: none;
  background: #072b00;
  max-width: 400px;
}
.todos li {
  background: #22b175f6;
}
.delete {
  cursor: pointer;
}

.filtered{
    display: none !important;
}

